/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -130px; /* Position them outside of the screen */
  transition: 0.1s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

#home {
  top: 30px;
  background-color: #ff8080;
}

#teamspeak {
  top: 100px;
  background-color: #ff8080;
}

#kontakt {
  top: 170px;
  background-color: #ff8080;
}

#spotify {
  top: 240px;
  background-color: #ff8080;
}

#banjoko {
  top: 310px;
  background-color: #ff8080;
}

body {
  margin: 0;
  font-family: 'Calligraffitti', cursive;
}

.hero-image {
  background-image: url("images/background.png");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* CSS für die Spotify iFrames, damit sie aneinander reihen */
iframe:nth-child(2),iframe:nth-child(3){
  /*border:1px solid #222; */
  display:inline-block;
}